# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.tlb
*.tlh
*.bak
*.log

# Visual Studio files
.vscode/
.vs/
*.user
*.suo
*.sdf
*.ncb
*.opendb
*.VC.db
*.VC.opendb

*.nupkg
packages/

# Outros arquivos desnecessários
Thumbs.db
Desktop.ini
